html, body {
    height:100%;
}

body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: Verdana,tahoma,arial;
    font-size: 12px;
    color: #237;
}

table {
	border-spacing: 0px 0px;
}

table tr td {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    border-collapse: collapse;
}

input[type="checkbox"] {
    margin: 0px;
    vertical-align: bottom;
}

form {
  margin:0px;
  padding:0px;
}

.footer {
    height: 40px;
    background-color: #deecaa;
    border: 1px solid #CCD99C;
    line-height:40px;
    text-align:right;
}

.site_header {
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

.site_header a {
    margin-top:7px;
    font-size: 46px;
    color: #393939;
    font-family: Garamond, Georgia;
    font-style: italic;
    text-shadow: 2px 2px 3px #999999;
}

.content {
    width: 780px;
    float: left;
    margin: 5px;
    background-color: #fff;
}

.top_level {
    width: 1000px;
    margin: 0px auto;
    padding: 0px;
}

.full_width {
    width: 990px;
}

.left_panel {
    width: 200px;
    float: left;
    margin: 5px;
    padding: 0px;
    vertical-align: top;
}

.left_block {
    border: 1px solid #5CA8E5;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.left_block .header {
    background-color: #6bf;
    color: #eef;
    height: 18px;
    font-weight: bold;
    padding-top: 6px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
}

.left_block .body {
    margin: 5px;
}

.left_panel .hide {
    width: 198px;
    height: 11px;
    font-size: 10px;
    border: 1px solid #ccc;
    background-color:#eee;
    text-align:center;
    position: relative;
    bottom: 4px;
}

.left_panel_show {
    width: 198px;
    height: 11px;
    font-size: 10px;
    border: 1px solid #ccc;
    background-color:#eee;
    text-align:center;
    position: relative;
    bottom: -7px;
    display: none;
}

.page_header {
    padding: 6px 0px 15px 0px;
    font-size: 16px;
    font-weight: bold;
}

.page_header .additional {
    font-size: 10px;
    font-weight: normal;
}
.page_description {
  padding: 6px 0px 10px 0px;
}

.menu {
    color: #466; 
    width: 100%;
    height: 30px;
    font-size: 14px;
    vertical-align: middle; 
    background-color: #deecaa;
    border: 1px solid #CCD99C;
}

.menu form {
    margin: 0px 10px 0px 15px;
}

.menu a:link {
    color:#466;
}
.menu a:visited {
    color:#133;
}
.menu a:hover {
    color:#379;
}

a:link {
    color:#466;
}
a:hover {
    color:#379;
}
a:visited {
    color:#133;
}

.album_minitables {
    width: 192px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
    border: 1px solid #aacc77;
    text-align: center;
}
.album_minitables .photo {
    height:170px;
    background-color:#F2F2F2;
}

.album_microtables {
	height: 154px;
}

.album_microtables .photo {
    text-align:center;
    height:154px;
    width:154px;
}

.album_microtables.hover {
    background-color: #deecaa;
}

.album_microtables .photo img {/*
	margin-top:10px;
	position: relative;*/
}

.photo_caption {
    font-size: 9px;
    text-align: left;
    padding-left: 5px;
    vertical-align: top;
}

.photo_icons {
    position: relative;
    top: 8px;
    left: 5px;
    text-align: left;
    height: 0px;
    font-size: 9px;  
    text-shadow: 1px 1px 2px #aaa;
    z-index: 100;
}

.photo img {
    border: 1px solid #aaa;
}


.targetAlbum {
    width: 186px;
    height: 160px;
    margin-top: 5px;
    padding-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    background-color:#ccc;
    text-align: center;
}

.ui-effects-transfer {
    border: 2px dotted gray;
}
.ui-state-active {
    background-color: #eee;
}

.photo_desc {
    height: 30px;
    vertical-align:top;
    overflow: hidden;
    width:187px;
}

table.admin_table {
	background-color: #ccc;
	border-spacing: 1px 1px;
	width: 100%;
}

.admin_table tr {
	margin: 0px;
	padding: 0px;
}

.admin_table td {
    margin: 0px;
    padding: 2px 10px 2px 2px;
    background-color: #eee;
}

.admin_table th {
	background-color: #777;
	color: #eee;
    font-size: 14px;
}

.admin_table .id {
	text-align: right;
}

.admin_table .bool {
	text-align: center;
	padding-right: 2px;
}

.admin_table .bool.upd_ok {
    background-color: #5e5;
}

.admin_table .bool.upd_err {
    background-color: #e55;
}

.button_link {
	padding: 5px 10px 5px 10px;
	border: 2px solid #CCD99C;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

.messageBoard .on {
	text-align: center;
	padding: 10px;
}

.tabs_links {
    padding: 5px 5px 5px 5px;
    border: 2px solid #CCD99C;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
	
}

.tabs_links a {
	padding: 0px 5px;
}