body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: Verdana,tahoma,arial;
    font-size: 12px;
    color: #237;
}

table tr td {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    border-collapse: collapse;
}

form {
  margin:0px;
  padding:0px;
}

.main {
    margin-left: 15px;    
}

.site_header {
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

.site_header a {
    margin-top:7px;
    font-size: 46px;
    color: #393939;
    font-family: Garamond, Georgia;
    font-style: italic;
    text-shadow: 2px 2px 3px #999999;
}

.top_level {
    width: 1000px;
    background-color: #fafafa;
    margin: 0px auto;
    padding: 0px;
}

.left_panel {
    width: 210px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    background-color: #deecaa;
}

.content {
    width: 780px;
    float: left;
    margin: 5px;
}

.page_header {
    padding: 6px 0px 15px 0px;
    font-size: 16px;
    font-weight: bold;
}

.page_header .additional {
    font-size: 10px;
    font-weight: normal;
}
.page_description {
  padding: 6px 0px 10px 0px;
}

.menu {
    color: #466; 
    width: 100%;
    height: 30px;
    font-size: 14px;
    vertical-align: middle; 
    background-color: #deecaa;
}

.menu form {
    margin: 0px 10px 0px 15px;
}

.menu a:link {
    color:#466;
}
.menu a:visited {
    color:#133;
}
.menu a:hover {
    color:#379;
}

a:link {
    color:#466;
}
a:hover {
    color:#379;
}
a:visited {
    color:#133;
}

.album_minitables {
    width: 192px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
    border: 1px solid #aacc77;
    text-align: center;
}
.album_minitables .photo {
    height:170px;
    background-color:#cfcfcf;
}

.album_microtables .photo {
	text-align:center;
    height:150px;
    width:150px;
}

.photo_caption {
    text-align: center;
    font-size: 9px;
}

.photo_icons {
    position: relative;
    top: 8px;
    left: 5px;
    text-align: left;
    height: 0px;
    font-size: 9px;  
    text-shadow: 0px 0px 3px #eee;
    z-index: 100;
}

.photo img {
    border: 1px solid #aaa;
}
